@import url('https://fonts.googleapis.com/css2?family=Capriola&family=Dongle&family=Fredoka:wght@600&family=Nunito:wght@600&family=Poppins:wght@500&family=Signika+Negative:wght@500;600&display=swap');

*{
     font-family: 'Nunito',serif;
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
.container{
     display: flex;
     margin: 100px 40px;
     margin-bottom: 20px;
}
.code-img{
     height: 600px;
}
.text{
     font-size: 34px;
     margin: 160px 80px;
}

.lang-div{
    margin-bottom: 15px;
    display: flex;
}



input[type="text"] {
    width: 35%;
    padding: 6px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
textarea {
    width: 80%;
    padding: 6px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
#code{
     display: block;
     margin: auto;
}
.lang-title{
     /* width: 30%; */
    /* padding: 6px; */
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.user-fields{
     padding: 40px 100px;
     padding-bottom: 0px;
}

.center1{
     margin-left: 30px;
}
.center2{
     margin-left: 22px;
}
.center3{
     margin-left: 34px;
}
.center3-new{
     margin-left: 35px;
}

#add-btn{
     padding: 20px 40px;
     font-size: 14px;
     /* display: block; */
     /* margin: auto; */
     margin-left: 360px;
     border-radius:20px ;
     background-color: #90E0EF;
}
#run-btn{
     padding: 20px 40px;
     font-size: 14px;
     /* display: block; */
     /* margin: auto; */
     margin-left: 360px;
     border-radius:20px ;
     background-color: #90E0EF;
}