@import url('https://fonts.googleapis.com/css2?family=Capriola&family=Dongle&family=Fredoka:wght@600&family=Nunito:wght@600&family=Poppins:wght@500&family=Signika+Negative:wght@500;600&display=swap');

*{
     font-family: 'Nunito',serif;
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
.container{
     display: flex;
     margin: 100px 40px;
     margin-bottom: 20px;
}
.api-img{
     height: 600px;
}
.text{
     font-size: 34px;
     margin: 160px 80px;
}

.url-div,
.apikeys-div,
.reqbody-div ,.response{
    margin-bottom: 15px;
    display: flex;
}

.reqbody-div{
     padding: 15px 100px;
     /* width: 90%; */
}

input[type="text"],
textarea {
    width: 35%;
    padding: 6px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
.url-title,.keys-title,.req-title,.res-title{
     /* width: 30%; */
    /* padding: 6px; */
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
.data {
    margin-top: 10px;
}

.user-fields{
     padding: 40px 100px;
     padding-bottom: 0px;
}

.center1{
     margin-left: 30px;
}
.center2{
     margin-left: 22px;
}
.center3{
     margin-left: 34px;
}
.center3-new{
     margin-left: 35px;
}
.reqbody-div-new{
     padding: 15px 100px;
     display: flex;
}

.res-title{
     margin: 10px 30px;
}
.response{
     border: 2px solid black;
     width: 35%;
     padding: 6px;
     margin-top: 5px;
     margin-bottom: 10px;
     box-sizing: border-box;
}
.data{
width: 35%;
     padding: 6px;
}

#add-btn{
     padding: 15px 40px;
     font-size: 14px;
     /* display: block; */
     /* margin: auto; */
     margin-left: 360px;
     border-radius:20px ;
     background-color: #90E0EF;
}
#run-btn{
     padding: 15px 40px;
     font-size: 14px;
     /* display: block; */
     /* margin: auto; */
     margin-left: 360px;
     border-radius:20px ;
     background-color: #90E0EF;
}
input[type="text"],
textarea {
    border: 2px solid #000; /* Black border with 2px width */
    padding: 8px; /* Add padding for better appearance */
    margin-bottom: 10px; /* Space between textboxes */
}

/* Specific styles for individual elements */



/* Style for the response body */
.response {
    border: 2px solid #000;
    padding: 8px;
}

.method-title,.api-{
     margin-left: 34px;
     margin-top: 5px;
}
.input-with-dropdown{
     margin-left: 28px;
}
.center-dropdown{
     width: 150%;
     padding: 6px;
}
#api-keys,#api-value{
     width: 24%;
}
.keys-title{
     margin-left: 12px;
}

.add-head{
     text-decoration: none;
     border: 0px;
     padding: 10px 10px;
     font-size: 16px;
     /* display: block; */
     /* margin: auto; */
     margin-left: 30px;
     border-radius:20px ;
     background-color: #1397b1;
     color:white;
}
.head-title{
     margin-top: 5px;
     margin-right: 28px;
}
#api-keys-new,#api-value-new{
     width: 30%;
}