<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="./style/apitesting.css">
     <title>API Testing</title>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
     <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap" rel="stylesheet">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />

</head>

<body>
     <nav class="navbar navbar-expand-lg" style="background-color: #ced1d2;">
          <div class="container-fluid">
               <a class="navbar-brand" href="#">
                    <img src="images/logo.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
                    APIcode Probe
               </a>
               <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
               </button>
               <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                         <li class="nav-item me-5">
                              <a class="nav-link" href="#"
                                   style="color: #000; font-family: 'Roboto', sans-serif;"><strong>Home</strong></a>
                         </li>
                         <li class="nav-item me-5">
                              <a class="nav-link" href="#"
                                   style="color: #000; font-family: 'Roboto', sans-serif;"><strong>Features</strong></a>
                         </li>
                         <li class="nav-item me-5">
                              <a class="nav-link" href="#"
                                   style="color: #000 ; font-family: 'Roboto', sans-serif;"><strong>About
                                        Us</strong></a>
                         </li>
                    </ul>
               </div>
          </div>
     </nav>

     <div class="container">
          <div class="text" style="margin-left: -100px;">API testing is a critical part of modern software development.
               It involves testing the functionality, performance, reliability, and security of the API (Application
               Programming Interface) to ensure that it meets the expected standards.
          </div>
          <div class="api-img-div">
               <img class="api-img" src="images/apitesting.png" alt="Api Testing">
          </div>
     </div>
     <br><br><br>
     <h1 style="text-align: center; font-size :50px; font-family: 'Kalnia', serif;" id="1"><strong>Start
               Testing</strong></h1>
     <br><br><br>
     <div>
          <div class="user-fields">
               <div class="url-div">
                    <div class="url-title">
                         API URL:
                    </div>
                    <input class="center1" type="text" name="url" id="url">
                    <div class="method-title">
                         METHOD:
                    </div>
                    <div class="input-with-dropdown">
                         <select class="center-dropdown" name="request-type" id="request-type">
                              <option value="GET">GET</option>
                              <option value="POST">POST</option>
                              <option value="PUT">PUT</option>
                              <option value="DELETE">DELETE</option>
                         </select>
                    </div>
               </div>
               <div class="apikeys-div">
                    <div class="head-title">
                         API HEADERS:
                    </div>
                    <div class="keys-title">
                         KEYS:
                    </div>
                    <input class="center2" type="text" name="api-keys" id="api-keys" placeholder="(Optional)">
                    <div class="method-title">
                         Values:
                    </div>
                    <input class="center2" type="text" name="api-value" id="api-value" placeholder="(Optional)">

                    <button class="add-head">Add
                         More Header</button>
               </div>

          </div>

          <div class="reqbody-div">
               <div class="req-title">
                    Request <br> Body:
               </div>
               <textarea class="center3-new" name="req-body" cols="30" rows="10"></textarea>
               <div class="res-title">Response <br /> Body</div>
               <pre class="response" id="response-1"></pre>
               <!-- <div class="response"></div> -->
          </div>
     </div>
     <div id="extra-fields">

     </div>
     <div class="addnew">
          <button id="add-btn"
               style="background-color: #1397b1; border:none; font-family: 'Nunito', sans-serif;color:white;font-size:20px;">Add
               testcase</button>
          <button id="run-btn" onclick="sendData()"
               style="background-color: #1397b1; border:none; font-family: 'Nunito', sans-serif;color:white;font-size:20px;">
               Send
          </button>
     </div>
     <br><br>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
          integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"></script>
     <script>
          function sendData() {
               console.log("inside sendData");
               var formData = {};
               var url = document.querySelector('input[name="url"]').value;
               var method = document.querySelector('select[name="request-type"]').value.toLowerCase();
               var keys = document.querySelectorAll('input[name="api-keys"]');
               var keyV = Array.from(keys).map(key => key.value);
               var values = document.querySelectorAll('input[name="api-value"]');
               var valueV = Array.from(values).map(p => p.value);
               var bod = document.querySelectorAll('textarea[name="req-body"]');
               var body = Array.from(bod).map(p => p.value);

               if (keyV[0] === '') keyV = [];
               if (valueV[0] === '') valueV = [];
               if (body[0] === '') body = [];

               formData = {
                    url: url,
                    keys: keyV,
                    values: valueV,
                    request: body,
                    method: method
               };
               console.log(formData)
               const response = axios.post("http://localhost:3000/api/v1/submit-api", formData)
                    .then(function (response) {
                         var res = document.querySelector('.response');
                         console.log(response.data.outputs[0]);
                         console.log(response.data.codes);
                         //var raw_output = JSON.parse(response.data.outputs[0]);
                         var fin_op = JSON.stringify(response.data.outputs[0], null, 4);
                         res.innerHTML = `Status Code : ${response.data.codes[0]} <br> ${fin_op}`;
                    })
                    .catch(function (error) {
                         console.error("Error:", error);
                    });
          }

          var addButton = document.getElementById('add-btn');
          var extraFieldsDiv = document.getElementById('extra-fields');
          var fieldCount = 2;

          addButton.addEventListener('click', function () {
               var newUserFieldsDiv = document.createElement('div');
               newUserFieldsDiv.className = 'reqbody-div-new';

               newUserFieldsDiv.innerHTML = `
                 <div class="req-title">
                     Request <br> Body:
                 </div>
                 <textarea class="center3-new" name="req-body" cols="30" rows="10"></textarea>
                 <div class="res-title">Response <br/> Body</div>
                 <textarea class="response" id="response-${fieldCount}"></textarea>
             `;
               extraFieldsDiv.appendChild(newUserFieldsDiv);
               fieldCount++;
          });

          var addhead = document.querySelector('.add-head')
          var userFields = document.querySelector('.user-fields')
          addhead.addEventListener('click', function () {
               var newHeadDiv = document.createElement('div');
               newHeadDiv.className = 'user-fields';

               newHeadDiv.innerHTML = `
                 <div class="apikeys-div" id="apikeys-div-new">
                     <div class="keys-title">
                         KEYS:
                     </div>
                     <input class="center2" type="text" name="api-keys" id="api-keys-new" placeholder="(Optional)">
                     <div class="method-title">
                         Values:
                     </div>
                     <input class="center2" type="text" name="api-value" id="api-value-new" placeholder="(Optional)">
                 </div>
             `;
               userFields.appendChild(newHeadDiv);
          });
     </script>

     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
          crossorigin="anonymous"></script>
</body>



</html>