<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Kalnia&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&family=Roboto+Condensed&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg" style="background-color: #ced1d2;">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="images/logo.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
                APIcode Probe
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item me-5">
                        <a class="nav-link" href="/" style="color: #000; font-family: 'Roboto', sans-serif;" ><strong>Home</strong></a>
                    </li>
                    <li class="nav-item me-5">
                        <a class="nav-link" href="#"  style="color: #000; font-family: 'Roboto', sans-serif;" ><strong>Features</strong></a>
                    </li>
                    <li class="nav-item me-5">
                        <a class="nav-link" href="#"  style="color: #000 ; font-family: 'Roboto', sans-serif;" ><strong>About Us</strong></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-6 order-md-1 one">
                <h2 style="margin-top: 226px; margin-left:-150px; font-size: 70px;font-family: 'Roboto', sans-serif;">Where Innovation Meets <span style="color:#022464b2">Verification</span></h2>
                <p style="font-size: 30px; margin-left:-140px;font-family: 'Nunito Sans', sans-serif;">
                    Explore, Test, and Elevate Your Code and APIs
            </div>
            <div class="col-md-6 order-md-2">
                <img src="images/bg.jpg" class="img-fluid" alt="Image on the Right">
            </div>
        </div>
    </div>
    <br> <br><br>  <br> <br> <br> <br>
    <div class="container">
        <div class="row">
            <h1 style="text-align: center; font-size :50px; font-family: 'Kalnia', serif;" id="1"><strong>ABOUT US</strong></h1>
        </div>
    </div>
    <div class="container">
        <div class="row" style="box-shadow:black;">
            <p style="font-family: 'Nunito Sans', sans-serif; font-size:25px;box-shadow: 0px 0px 10px rgba(0, 0, 0, 0);margin-top:30px; text-align:center;">
                Welcome to our innovative web application designed to revolutionize code and API </testing> Our platform offers a user-centric experience, simplifying the testing process for developers and testers. With support for multiple programming languages, our intuitive interface enables swift identification and resolution of bugs during code testing. Additionally, our advanced API testing tools empower users to create, execute, and manage test cases seamlessly, ensuring robust communication between software components. With a focus on efficiency and speed, our application accelerates the testing lifecycle, providing real-time reporting for informed decision-making. Foster collaboration and streamline your testing processes with our comprehensive solution, making code and API testing easier and faster than ever.
            </p>
        </div>
    </div>
    <br><br>  <br>   <br>  <br>   <br>
    <div class="container">
        <div class="row">
            <h1 style="text-align: center; font-size :50px; font-family: 'Kalnia', serif; margin-top:50px"><strong>FEATURES</strong></h1>
        </div>
    </div>
    <div class="container mt-5" >
            <!--start 1st-->
            <div class="row align-items-center" style="margin-top: -80px;">
                <div class="col-md-6" >
                    <img src="images/f1.png" class="img-fluid" data-aos="zoom-in" alt="Image">
                </div>
                <div class="col-md-6">
                    <h3 style="font-size: 40px; color:#0b1348; font-family: 'Oswald', sans-serif;" data-aos="fade-left"
                    data-aos-anchor="#example-anchor"
                    data-aos-offset="1000"
                    data-aos-duration="500">API TESTING</h3>
                    <p style="font-size: 22px; font-family: 'Nunito Sans', sans-serif;">API testing is a critical process in software development that validates the functionality and performance of application programming interfaces (APIs). It involves sending requests to APIs, analyzing responses, and ensuring that APIs function correctly under different scenarios. This testing helps detect and address issues early, ensuring the reliability and security of the software system.</p>
                    <a href="/api-run"style="text-decoration:none;color:white"><button type="submit" class="btn btn-primary" style="background-color: #1397b1; border:none; font-family: 'Nunito', sans-serif;">  Start Testing</a></button></a>                </div>
            </div>
            <!--end 1st-->

            <!--start 2nd-->
            <div class="row mt-5 align-items-center">
                <div class="col-md-6 order-md-2">
                    <img src="images/f2.png" class="img-fluid"  data-aos="zoom-in"  alt="Image">
                </div>
                <div class="col-md-6 order-md-1">
                    <h3 style="font-size: 40px; color: #0b1348; font-family: 'Oswald', sans-serif;" data-aos="fade-right"
                    data-aos-offset="500"
                    data-aos-easing="ease-in-sine">CODE TESTING</h3>
                    <p  style="font-size: 22px; font-family: 'Nunito Sans', sans-serif;">Code testing is a vital part of software development, involving the systematic examination of individual code units to ensure they function correctly. This practice, encompassing unit and integration testing, aims to identify and fix bugs early, maintaining the reliability and functionality of the code. Automated testing frameworks, like JUnit or pytest, enhance efficiency by enabling developers to create and run test cases seamlessly. In essence, code testing is crucial for building and sustaining robust, error-free software.</p>
                    <a href="/code-run"style="text-decoration:none;color:white"><button type="submit" class="btn btn-primary" style="background-color: #1397b1; border:none; font-family: 'Nunito', sans-serif;">  Start Testing</a></button></a>                </div>
                </div>
            </div>
            <!--end 2nd-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
